@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color:#3a3a3a;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.277);
}

.logo {
    cursor: pointer;
    margin-right: 15%;
    height: 45px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: color 0.15s ease 0s;
}

.nav_links li a:hover {
    color: #EE3B24;
}
